@font-face {
  font-family: Open-sans;
  src: url('../assets/fonts/Open-sans.woff2') format('woff2');
}

* {
  font-family: Open-sans;
}

@font-face {
  font-family: BalooBhai;
  src: url('../assets/fonts/BalooBhai.woff2') format('woff2');
}

* {
  font-family: BalooBhai;
}
